button {
    background-color: lightgreen;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: green;
    color: white;
}

.delete-btn {
    background-color: lightcoral;
}

.delete-btn:hover {
    background-color: red;
}

img {
    width: 200px;
    height: 200px;
}

.pet-name {
    color: lightgreen;
}